.card {
  padding: 12px 0;
}

.title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}

.description {
  font-size: 12.5px;
  font-weight: 400;
  color: #8a8a8a;
}

.price {
  font-weight: 600;
}
